<!DOCTYPE html>

<html lang="">
<head>
<title>Akhinzhanov Partners</title>
<link rel="shortcut icon" href="/static/images/demo/15.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<META NAME="geo.position" CONTENT="Аутсорсинг; Юрист; Адвокат; Право; Суд; Дело;">
<META NAME="geo.placename" CONTENT="Адвокат">
<META NAME="geo.region" CONTENT="Казахстан">
</head>

<style>
  .card{
  
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      
      
  }
  
  
  
  ul ul {
      list-style-type: none;
  }

  input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
  </style>

<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/static/images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">Надежная защита ваших интересов</h3>
      <p>Oпыт работы более 5 лет</p>
      
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="tel:+77474323280">Позвонить</a></li>
          
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <ul>
          <li><i class="fa fa-phone"></i> +77474323280</li>
          <li><i class="fa fa-envelope-o"></i> akhinzhanov@gmail.com</li>
        </ul>
      </div>
      <div class="fl_right">
        <ul>
          <li><a href="/"><i class="fa fa-lg fa-home"></i></a></li>
          <!-- <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li> -->
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">Akhinzhanov Partners</a></h1>
    </div>
    
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      
      <p class="heading font-x3">ЮРИДИЧЕСКИЕ УСЛУГИ В AKHINZHANOV PARTNERS </p>
      
    </div>
    

    

    <ul class="nospace group element btmspace-50 demo">
      <li class="one_third first">
        <article><img src="/static/images/demo/04.png" alt="">
          <div class="txtwrap">
            <h6 class="heading">Cудебное представительство</h6>
            <p>(по взысканиям задолженности, спорам по объектам недвижимого имущества, не исполнению обязательств и т.д.)</p>
           
            <footer><a class="btn" href="/representation">Подробнее</a></footer>
          </div>
        </article>
      </li>

      <li class="one_third">
        <article><img src="/static/images/demo/12.png" alt="">
          <div class="txtwrap">
            <h6 class="heading">Оказание правовой помощи юридическим лицам и индивидуальным предпринимателям</h6>
            <p>Разработка и сопровождение договоров и сделок; разработка трудовых договоров, материальная ответственность сотрудников; участие в переговорах по планируемым сделкам; претензионно-исковая работа; защита интересов в суде.</p>
            <footer><a class="btn" href="/outsourcing">Подробнее</a></footer>
          </div>
        </article>
      </li>

      <li class="one_third">
        <article><img src="/static/images/demo/03.png" alt="">
          <div class="txtwrap">
            <h6 class="heading">Ваш бизнес-юрист</h6>
            <p>Получите юридический департамент профессиональных бизнес-юристов и сделайте всю вашу юридическую работу в десятки раз дешевле, чем зарплата одного штатного юриста</p>
            <footer><a class="btn" href="/outsourcing">Подробнее</a></footer>
          </div>
        </article>
      </li>
      


    </ul>
    <div class="center btmspace-80">
      <h6 class="heading">Конфиденциальность ответственность и исполнительность являются принципами нашей работы !</h6>
    </div>
    
    <hr>
    <!-- <footer class="center"><a class="btn" href="#">Nisl sollicitudin porta</a></footer> -->
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>



    <!--most used services-->
    <div class="wrapper row3">
      <div class="hoc container clear"> 
        <!-- ################################################################################################ -->
        <div class="center btmspace-80">      
          <p class="heading font-x3">Самые популярные услуги </p>         
        </div>
        
        <ul class="nospace group element btmspace-80 demo">
          <li class="whole"> 
            <article><img src="/static/images/demo/10.png" alt="" >          
              <div class="txtwrap" >
                    <div class="listing-item-text">
                        <div class="listing-item-checks"><div class="flex text-left"><div style="margin:auto;"><ul class="ul-icons"><li>
                <div style="display:flex;">
                    <div><i class="fa fa-check"style="color:#36D68C"></i></div>
                    <div style="padding-left:15px;">Составление договоров</div>
                </div>
            </li><li>
                <div style="display:flex;">
                    <div><i class="fa fa-check"style="color:#36D68C"></i></div>
                    <div style="padding-left:15px;">Сопровождение сделок</div>
                </div>
            </li><li>
                <div style="display:flex;">
                    <div><i class="fa fa-check"style="color:#36D68C"></i></div>
                    <div style="padding-left:15px;">Взыскания</div>
                </div>
            </li><li>
                <div style="display:flex;">
                    <div><i class="fa fa-check"style="color:#36D68C"></i></div>
                    <div style="padding-left:15px;">Судебное представительство</div>
                </div>
            </li><li>
                <div style="display:flex;">
                    <div><i class="fa fa-check"style="color:#36D68C"></i></div>
                    <div style="padding-left:15px;">Бонкротсво</div>
                </div>
            </li><li>
                <div style="display:flex;">
                    <div><i class="fa fa-check"style="color:#36D68C"></i></div>
                    <div style="padding-left:15px;">Лицензии и Разрешения</div>
                </div>
            </li><li>
                <div style="display:flex;">
                    <div><i class="fa fa-check"style="color:#36D68C"></i></div>
                    <div style="padding-left:15px;">Правовой аудит</div>
                </div>
            </li><li>
                <div style="display:flex;">
                    <div><i class="fa fa-check"style="color:#36D68C"></i></div>
                    <div style="padding-left:15px;">Налоговое право</div>
                </div>
              </article>
            </li></ul>
                           
            
          </li>
          <div class="center btmspace-80">
            <h6 class="heading">Цена индивидуальна в каждом случае !</h6>
          </div>
        <div class="clear"></div>
      </div>
    </div>


  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/02.png');">
  <article class="hoc cta clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <h6 class="header nospace">БЕСПЛАТНАЯ ЮРИДИЧЕСКАЯ КОНСУЛЬТАЦИЯ В Г. Алматы </h6>
      <p class="nospace">+77474323280</p>
    </div>
    <footer class="one_quarter"><li><a class="btn" href="tel:+77474323280">Позвонить</a></li></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle center">
      <h6 class="heading">Почему выбрали нас</h6>
      <p>Преимущества нашей компании.</p>
    </div>
    <ul class="nospace group">
      <li class="one_quarter first">
        <article><a href="#"><i class="icon btmspace-30 fa fa-gitlab"></i></a>
          <h6 class="heading font-x1">Большой опыт</h6>
          <p>(Более 5 лет юридической практики ведущих юристов.) </p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-globe"></i></a>
          <h6 class="heading font-x1">Профессионалы</h6>
          <p>(Высокая квалификация наших сотрудников и их профессионализм.)</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-tencent-weibo"></i></a>
          <h6 class="heading font-x1">Соблюдение сроков</h6>
          <p>(Соблюдение сроков и стоимости услуг.)</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="icon btmspace-30 fa fa-wpexplorer"></i></a>
          <h6 class="heading font-x1">Эффективность</h6>
          <p>(Всегда добиваемся высоких результатов.)</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/03.png')">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle center">
      <h6 class="heading">Мы работаем с самыми сложными юридическими проблемами </h6>
      <p> <a href="#"></a></p>
    </div>
    <div class="group testimonials">
      <article class="one_half first">
        <blockquote>98 РЕШЕНИЙ В ПОЛЬЗУ НАШИХ КЛИЕНТОВ ЗА ПОСЛЕДНИЙ ГОД</blockquote>
        </article>
      <article class="one_half">
        <blockquote>120 ДОВОЛЬНЫХ КЛИЕНТОВ ЗА ПОСЛЕДНИЙ ГОД</blockquote>
        </article>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle center">
      <h6 class="heading">Полезные ссылки</h6>
      
    </div>
    <ul class="nospace group element">
      <li class="one_third first">
        <article>
          <figure><img src="/static/images/demo/06.png" alt="">
            <figcaption>
              <time datetime="2045-04-06T08:15+00:00"><strong>06</strong> <em>Apr</em></time>
              
            </figcaption>
          </figure>
          <div class="txtwrap">
            <h6 class="heading">Реестр должников </h6>
            <p>В реестре должников Вы сможете получить информацию об имеющихся в отношении Вас исполнительных производствах, о суммах взыскания и т.д.</p>
            <footer><a class="btn" href="http://www.adilet.gov.kz/ru/kisa/ERD">Подробнее</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><img src="/static/images/demo/07.png" alt="">
            <figcaption>
              <time datetime="2045-04-05T08:15+00:00"><strong>05</strong> <em>Apr</em></time>
              
            </figcaption>
          </figure>
          <div class="txtwrap">
            <h6 class="heading">Образцы исковых и иных заявлений в суд</h6>
            <p>Здесь Вы сможете скачать образцы исковых и иных заявлений подаваемых в суд. Образцы заявлений в формате WORD, что позволит Вам легко составить исковые заявления без помощи адвоката.</p>
            <footer><a class="btn" href="https://drive.google.com/drive/u/0/folders/0B7m4TWJn_zztdFkxTUJKRlZfTUk">Подробнее</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article>
          <figure><img src="/static/images/demo/08.png" alt="">
            <figcaption>
              <time datetime="2045-04-04T08:15+00:00"><strong>04</strong> <em>Apr</em></time>
              
            </figcaption>
          </figure>
          <div class="txtwrap">
            <h6 class="heading">Судебный кабинет</h6>
            <p>В судебном кабинете Вы можете получить информацию, процессуальные документы о любом уголовном, гражданском или административном деле, которое рассматривалось либо рассматривается судами РК. Также можете подать исковые, иные заявления, ходатайства и жалобы по этим делам.</p>
            <footer><a class="btn" href="http://office.sud.kz/lawsuit/">Подробнее</a></footer>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>

<!-- Submit form -->
<div class="wrapper row3">
    <div class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle center">
        <h6 class="heading">Оставьте телефон для бесплатной консультации </h6>   
           
      </div>
      <div class="one_full">
                 
          <form method="post" action="MAILTO:zhunussov1994@gmailcom" enctype="text/plain">
            <fieldset>
              <legend>General Information:</legend>
              <input class="btmspace-15" name="name" type="text" value="" placeholder="Введите имя">
              <input class="btmspace-15" name="phone" type="text" value="" placeholder="Номер телефона">

              <textarea id="subject" name="text" placeholder="Ваш текст.." style="height:200px"></textarea>
              <button class="btn" type="submit" value="submit">Получить консультацию</button>
            </fieldset>
          </form>
      </div>
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('/static/images/demo/backgrounds/04.png');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h2 class="heading">Akhinzhanov Partners</h2>
      
    </div>
    <!-- ################################################################################################ -->
    <hr class="btmspace-50">
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_third first">
        <h6 class="heading">Контакты</h6>
        <ul class="nospace btmspace-30 linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
            Алматы , Казахстан
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +77474323280</li>
          <li><i class="fa fa-fax"></i> +77474323280</li>
          <li><i class="fa fa-envelope-o"></i>  AKHINZHANOV@GMAIL.COM</li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="heading"> Офис </h6>
        <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="/static/images/demo/320x168.png" alt=""></a>
          <figcaption>
            <p>Юридическая компания «Akhinzhanov Parteners» предоставляет квалифицированную юридическую помощь физическим и юридическим лиц.</p>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">since April 2014</time>
          </figcaption>
        </figure>
      </div>
      
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Akhinzhanov Partners</a></p>
    <p class="fl_right">Template <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="/static/layout/scripts/jquery.min.js"></script>
<script src="/static/layout/scripts/jquery.backtotop.js"></script>
<script src="/static/layout/scripts/jquery.mobilemenu.js"></script>


</body>
</html>

