<!DOCTYPE html>
<html lang="">
<head>
<title>Akhinzhanov Partners</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<style>
input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

</style>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/static/images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <ul>
            <li><i class="fa fa-phone"></i> +77474323280</li>
            <li><i class="fa fa-envelope-o"></i> akhinzhanov@gmail.com</li>
        </ul>
      </div>
      <div class="fl_right">
        <ul>
            <li><a href="/"><i class="fa fa-lg fa-home"></i></a></li>
          
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
        <h1><a href="/">Akhinzhanov Partners</a></h1>
    </div>
    
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
        <main class="hoc container clear"> 
          <!-- main body -->
          <!-- ################################################################################################ -->
          <div class="center btmspace-80">
            <h6 class="heading"></h6>
            <p class="heading font-x3">представительство в суде </p>
            <p>В разделе "судебная защита" представлены услуги по защите интересов клиента (физических и юредических лиц ).</p>
          </div>
          <ul class="nospace group element btmspace-80">
            <li class="one_third first">
              <article><img src="/static/images/demo/04.png" alt="">
                <div class="txtwrap">
                  <h6 class="heading">СПОРЫ ПО ЗАЩИТЕ ПРАВА ПОТРЕБИТЕЛЕЙ</h6>
                  <p>(расторжение договоров, возврат товара замена вещи с недостатками, возмещение морального вреда, взыскание неустойки.)</p>
                  
                </div>
              </article>
            </li>
            <li class="one_third">
              <article><img src="/static/images/demo/02.png" alt="">
                <div class="txtwrap">
                  <h6 class="heading">ВОЗМЕЩЕНИЕ УЩЕРБА</h6>
                  <p>( возмещение ущерба от преступления ,в результате ДТП, залива, пожара, порчи имущества и т.д.)</p>
                  
                </div>
              </article>
            </li>
            <li class="one_third">
              <article><img src="/static/images/demo/06.png" alt="">
                <div class="txtwrap">
                  <h6 class="heading">АРБИТРАЖНЫЕ СПОРЫ</h6>
                  <p>(по взысканиям задолженности, спорам по объектам недвижимого имущества, не исполнению обязательств и т.д.)</p>
                  
                </div>
              </article>
            </li>
            
          </ul>

          <ul class="nospace group element btmspace-80">
          <li class="one_half first">
            <article><img src="/static/images/demo/101.png" alt="">
              <div class="txtwrap">
                <h6 class="heading">оспаривание решений органов государственной власти</h6>
                <p>(обжалование действий нотариальных органов, обжалование действий ЧСИ.)</p>
                
              </div>
            </article>
          </li>
          <li class="one_half">
            <article><img src="/static/images/demo/07.png" alt="">
              <div class="txtwrap">
                <h6 class="heading">ГРАЖДАНСКОЕ ПРАВО</h6>
                <p>(Консультация юриста по гражданским делам и семейные споры. Трудовые споры, земельные споры, жилищные споры, споры по вопросам недвижимого имущества.Наследственное право. Особое производство.)</p>
                
              </div>
            </article>
          </li>
          </ul>


          <footer class="center"><a class="btn" href="tel:+77472212217">Позвонить</a></footer>
        
          <!-- ################################################################################################ -->
          <!-- / main body -->
          <div class="clear"></div>
        </main>
      </div>

      <!-- Submit form -->
<div class="wrapper row3">
    <div class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle center">
        <h6 class="heading">Оставьте телефон для бесплатной консультации </h6>   
           
      </div>
      <div class="one_full">
                 
          <form method="post" action="MAILTO:zhunussov1994@gmailcom" enctype="text/plain">
            <fieldset>
              <legend>General Information:</legend>
              <input class="btmspace-15" type="text" value="" placeholder="Введите имя">
              <input class="btmspace-15" type="text" value="" placeholder="Номер телефона">

              <textarea id="subject" name="subject" placeholder="Ваш текст.." style="height:200px"></textarea>
              <button class="btn" type="submit" value="submit">Получить консультацию</button>
            </fieldset>
          </form>
      </div>
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('/static/images/demo/backgrounds/04.png');">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="center btmspace-50">
        <h2 class="heading">Akhinzhanov Partners</h2>
        
      </div>
      <!-- ################################################################################################ -->
      <hr class="btmspace-50">
      <!-- ################################################################################################ -->
      <div class="group">
        <div class="one_third first">
          <h6 class="heading">Контакты</h6>
          <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fa fa-map-marker"></i>
              <address>
              Алматы , Казахстан
              </address>
            </li>
            <li><i class="fa fa-phone"></i> +77474323280</li>
            <li><i class="fa fa-fax"></i> +77474323280</li>
            <li><i class="fa fa-envelope-o"></i>  AKHINZHANOV@GMAIL.COM</li>
          </ul>
        </div>
        <div class="one_third">
          <h6 class="heading"> Офис </h6>
          <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="/static/images/demo/320x168.png" alt=""></a>
            <figcaption>
              <p>Юридическая компания «Akhinzhanov Parteners» предоставляет квалифицированную юридическую помощь физическим и юридическим лиц.</p>
              <time class="font-xs block btmspace-10" datetime="2045-04-06">since April 2014</time>
            </figcaption>
          </figure>
        </div>
        
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Akhinzhanov Partners</a></p>
      <p class="fl_right">Template <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>