<!DOCTYPE html>

<html lang="">
<head>
<title>Akhinzhanov Partners</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Acme|Bebas+Neue|Josefin+Sans&display=swap" rel="stylesheet">
</head>
<style>
.listing-item-title {
  background-color: white;
  padding:20px 15px; 
  color:black;
}

.listing-item-title1 {
  background-color: #FFDC00;
  padding:20px 15px;
  color:black;
}

.card{
    background-color: rgba(66, 94, 71,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color:white;
    
}
.header{
   
    color:black;
    height: 100px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
ul-icons {
    list-style-type: none;
    margin: 15px 0px 0px 0px;
    padding: 0px;
}
.fa-check:before {
    content: "\f00c";
}

ul ul {
    list-style-type: none;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

</style>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/static/images/demo/backgrounds/100.png');"> 
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
            
      <h4 class="heading"style="font-family: 'Josefin Sans', sans-serif;">Ваш бизнес-юрист за 37500т <i class="fas fa-tenge"></i>в месяц</h4>
      <p>Получите юридический департамент профессиональных бизнес-юристов и сделайте всю вашу юридическую работу в десятки раз дешевле, чем зарплата одного штатного юриста</p>
      
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="tel:+77472212217">Позвонить</a></li>
          
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <ul>
          <li><i class="fa fa-phone"></i> +77472212217</li>
          <li><i class="fa fa-envelope-o"></i> akhinzhanov@gmail.com</li>
        </ul>
      </div>
      <div class="fl_right">
        <ul>
          <li><a href="/"><i class="fa fa-lg fa-home"></i></a></li>
          <!-- <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li> -->
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">Akhinzhanov Partners</a></h1>
    </div>
    
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      
      <p class="heading font-x3">Все ваши юридические потребности в одном пакете услуг </p>
      
    </div>

    
    <ul class="nospace group element btmspace-50 demo">
      <li class="one_half first"> 
            <div class="card">           
                <div class="listing-item-title"><h3 class="animate-box fadeIn center"style="font-family: 'Anton', sans-serif;">Успешный бизнес базовый</h3></div>
                <div class="header">
                        <div class="center"style="font-size:55px; margin-top:50px;">37500т <i class="fa fa-tenge"></i></div>
                        <p class="center">в месяц</p>
                    </div>
           
                
                <div class="listing-item-text">
                    <div class="listing-item-checks"><div class="flex text-left"><div style="margin:auto;"><ul class="ul-icons"><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Энциклопедия правовых документов</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Налоговое консультирование с решением поставленной задачи</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Персональный налоговый календарь<br> 
        1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Сопровождение и поддержка в тендерах на каждом этапе<br> 1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Ваш поверенный юрист для участия в переговорах<br> 1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Устное юридическое решение правового вопроса <br>3 раза в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Письменное юридическое решение правового вопроса  <br>1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Разблокировка счета юр. лица; ИП<br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Антиблокировочные решения для счета <br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Поможем исправить финансовую репутацию<br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Защита деловой репутации<br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Аудит делопроизводства (трудовое право и бухгалтерский учет)<br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Аудит сайта на соответствие нормам законодательства РФ<br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Урегулирование трудовых споров <br>1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Получение денежных средств с недобросовестных контрагентов <br>1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Оценка судебной перспективы и описание рисков<br>1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Обзор изменений законодательства по направлению бизнеса<br>1 раз в квартал</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Экспресс проверка контрагента на предмет финансовых рисков<br>1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Защита интеллектуальной собственности и товарного знака<br>1 раз в год</div>
            </div>
        </li></ul></div></div></div>
                    
        
      
        
           
           
        
        
      </li>

      <li class="one_half">
        
            <div class="card">
                <div class="listing-item-title1"><h3 class="animate-box fadeIn center"style="font-family: 'Anton', sans-serif;">Успешный бизнес +</h3></div>
                <div class="header">
                    <div class="center"style="font-size:55px; margin-top:50px;">49500т <i class="fa fa-tenge"></i></div>
                    <p class="center">в месяц</p>
                </div>
                <div class="listing-item-text">
                    <div class="listing-item-checks"><div class="flex text-left"><div style="margin:auto;"><ul class="ul-icons"><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Энциклопедия правовых документов</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Налоговое консультирование с решением поставленной задачи</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Персональный налоговый календарь<br> 
        1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Сопровождение и поддержка в тендерах на каждом этапе<br> 2 раза в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Ваш поверенный юрист для участия в переговорах<br> 2 раза в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Устное юридическое решение правового вопроса <br>5 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Письменное юридическое решение правового вопроса  <br>1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Разблокировка счета юр. лица; ИП<br>2 раза в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Антиблокировочные решения для счета <br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Поможем исправить финансовую репутацию<br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Защита деловой репутации<br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Аудит делопроизводства (трудовое право и бухгалтерский учет)<br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Аудит сайта на соответствие нормам законодательства РФ<br>1 раз в год</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Урегулирование трудовых споров <br>1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Получение денежных средств с недобросовестных контрагентов <br>2 раза в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Оценка судебной перспективы и описание рисков<br>2 раза в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Обзор изменений законодательства по направлению бизнеса<br>1 раз в квартал</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Экспресс проверка контрагента на предмет финансовых рисков<br>1 раз в месяц</div>
            </div>
        </li><li>
            <div style="display:flex;">
                <div><i class="fa fa-check"></i></div>
                <div style="padding-left:15px;">Защита интеллектуальной собственности и товарного знака<br>1 раз в год</div>
            </div>
        </li></ul></div></div></div>
                    
           
        </div></div>
      </li>
      


    </ul>
    <div class="center btmspace-80">
      <h6 class="heading">Ваши права под защитой лучших практикующих юристов, которые знают решение любой юридической ситуации</h6><hr>
    </div>
    
    <!-- <footer class="center"><a class="btn" href="#">Nisl sollicitudin porta</a></footer> -->
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>

<!-- Submit form -->
<div class="wrapper row3">
    <div class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle center">
        <h6 class="heading">Оставьте телефон для бесплатной консультации </h6>   
           
      </div>
      <div class="one_full">
                 
          <form method="post" action="MAILTO:zhunussov1994@gmailcom" enctype="text/plain">
            <fieldset>
              <legend>General Information:</legend>
              <input class="btmspace-15" type="text" value="" placeholder="Введите имя">
              <input class="btmspace-15" type="text" value="" placeholder="Номер телефона">

              <textarea id="subject" name="subject" placeholder="Ваш текст.." style="height:200px"></textarea>
              <button class="btn" type="submit" value="submit">Получить консультацию</button>
            </fieldset>
          </form>
      </div>
    </div>
</div>
      


  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('/static/images/demo/backgrounds/02.png');">
  <article class="hoc cta clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <h1>Юристы, которые делают свое дело </h1>
      <p>Как семейный врач, наши юристы узнают вас и ваш бизнес, поэтому не нужно тратить лишнее время на пояснения, когда их помощь потребовалась.</p>
    </div>
    <footer class="one_quarter"><li><a class="btn" href="tel:+77472212217">Позвонить</a></li></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle center">
      <h6 class="heading">Все ваши юридические потребности в одном пакете услуг</h6>
     
    </div>
    <ul class="nospace group"style="font-family: 'Vidaloka', serif;">
      <li class="one_third first">
        <article><a href="#"><i class="icon btmspace-30 fa fa-joomla"></i></a>
          <h6 class="heading font-x1">365 дней в году</h6>
          <p>(Каждый раз, когда возникает юридическая проблема, нет необходимости бросать все и решать ее. 

            С Akhinzhanov Partners» у вас будет доверенная команда высокопрофессиональных юристов и налоговиков, готовых помочь вам в любое время. Будьте спокойны – мы помогаем вашему бизнесу стать успешным.) </p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="icon btmspace-30 fa fa-thumbs-up"></i></a>
          <h6 class="heading font-x1">Прощай, юридическая рутина!</h6>
          <p>(Большинство владельцев бизнеса дожидаются, когда что-то пойдет не так прежде, чем спросить юриста. Не делайте эту ошибку. С Akhinzhanov Partners у вас есть быстрый и простой доступ к юристам, которые предотвращают возникновение юридических проблем и претензий со стороны контролирующих органов и контрагентов.)</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="icon btmspace-30 fa fa-check-square-o"></i></a>
          <h6 class="heading font-x1">Будьте на 100% уверены - все сделано правильно</h6>
          <p>(Договоры. Взыскание долгов. Соответствие сайта. Независимо от проблемы, не нужно беспокоиться о том, правильное ли вы принимаете решение. С Akhinzhanov Partners будьте уверены на 100%, что все сделано правильно.)</p>
        </article>
      </li>
      
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->


<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('/static/images/demo/backgrounds/04.png');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h2 class="heading">Akhinzhanov Partners</h2>
      
    </div>
    <!-- ################################################################################################ -->
    <hr class="btmspace-50">
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_third first">
        <h6 class="heading">Контакты</h6>
        <ul class="nospace btmspace-30 linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
            Алматы , Казахстан
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +77472212217</li>
          <li><i class="fa fa-fax"></i> +77472212217</li>
          <li><i class="fa fa-envelope-o"></i>  AKHINZHANOV@GMAIL.COM</li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="heading"> Офис </h6>
        <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" src="/static/images/demo/320x168.png" alt=""></a>
          <figcaption>
            <p>Юридическая компания «Akhinzhanov Parteners» предоставляет квалифицированную юридическую помощь физическим и юридическим лиц.</p>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">since April 2014</time>
          </figcaption>
        </figure>
      </div>
      
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Akhinzhanov Partners</a></p>
    <p class="fl_right">Template <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="/static/layout/scripts/jquery.min.js"></script>
<script src="/static/layout/scripts/jquery.backtotop.js"></script>
<script src="/static/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>